<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default login-panel">
                <div class="panel-heading">Let's know your name</div>
                <div class="panel-body">
                    <form class="form-inline" ng-submit="$ctrl.submit()">

                        <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" class="form-control" id="userName" placeholder="Jane Doe" 
                        required ng-minlength="4" minlength="4" ng-model="$ctrl.state.user">
                        </div>

                        <button type="submit" class="btn btn-primary">Start Chatting</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>